/*Make scrolling froom bookmarks smooth*/
html { scroll-behavior: smooth; }

/*Body style*/
body
{
    padding: 0;
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #B4E2F3;
    background-repeat: round;
    background-image: url("images/pattern2.png");
}

.BlurryBackground {
    position: absolute;
    top: 0;
    z-index: -30;
    height: 100%;
    width: 100%;
    filter: blur(7px);
    box-shadow: 0 2px 10px;
    background-color: rgba(151, 151, 151, .5);
}

/*HEADER*/

.Header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 4.5vw;
    min-height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
}

.Header:hover
{
	background-color:rgba(255, 255, 255, .8);
}

/* Logo */
.HeaderLogo
{
    position: relative;
    float: left;
    margin-top: -.1vw;
    margin-left: 2vh;

    height: 3vw;
    
    font-size: 3vw;
	text-decoration: none;

	filter:drop-shadow(0 5px 3px rgb(131, 131, 131));
    color: white;
    transition-duration: 0.2s;
}

.HeaderLogo a
{
	text-decoration: none;
    color: white;
}

.HeaderLogo:hover
{
    cursor: pointer;
    filter: brightness(60%);
    margin-left: 2.5vh;
}

/* Link Buttons */

.HeaderResume
{
    position: relative;
    float: right;
	margin-top:.5vw;
	margin-left:-.5vw;
    margin-right:2vw;
    
    font-size: 2.2vw;
	text-decoration: none;

	filter:drop-shadow(0 2px 3px rgb(131, 131, 131));
    color: white;
    transition-duration: 0.1s;
}

.HeaderResume a
{
	text-decoration: none;
    color: white;
}

.HeaderResume:hover
{
    cursor: pointer;
    filter: brightness(60%);
    margin-left: 2.5vh;
}

.HeaderLink
{
	position:relative;
	float:right;
	margin-top:.8vw;
	margin-left:-.5vw;
    margin-right:1vw;
	height:3vw;
    
    text-decoration:none;
    transition-duration:0.1s;
    
	filter:drop-shadow(0 1px 2px rgb(131, 131, 131));
}

.HeaderLink:hover
{
    filter: brightness(70%);
	transform:scale(1.1);
}

/* Scroll up button */

.ScrollButton
{
    /* display: none; */
    position:fixed;
    bottom: 1vh;
    right: 2vw;

    width: 5vw;
    height: 5vw;

    z-index: -60;
    cursor: pointer;
}

.ScrollButton:hover
{
    filter: brightness(70%);
	transform:scale(1.1);
    filter:drop-shadow(0 1px 2px rgb(131, 131, 131));
}

/* Other buttons */

.PlayButton
{
	position:relative;
	float:left;
	margin-top:-4vw;
    margin-left:28vw;
	height:7vw;
    
	transition-duration:0.1s;
}

.PlayButton:hover
{
    filter: brightness(70%);
	transform:scale(1.15, 1.1);
    filter:drop-shadow(0 3px 1px rgb(131, 131, 131));
}

.UnavailableButton {
    position: relative;
    float: none;
    margin-top: -5vw;
    margin-right: 30vw;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 1vw;
    color: rgb(172, 172, 172);
    background-color: grey;
    display: inline-block;
    border-radius: 25px;
    text-decoration: none;
    transition-duration: 0.1s;
}

/* Home page */

.HomePage {
    position: absolute;
    /*margin-top: 22vw;*/
    text-align: center;
    /*background-color: black;*/

    width:100%;
    height:100%;
}

.HomeButton
{
	position:relative;
	padding: 1vw 1vw;
    display:inline-block;
	margin-top: 40vh;
    /*padding-top: 2vh;*/

    height: 12vh;	
    width: 37vh;

    font-size: 10vh;
	text-align:center;
    text-decoration:none;
    
	border-radius:20px;
	color:#ffffff;
	background-color:rgba(32, 32, 32, 0);
	filter:drop-shadow(0 5px 3px rgb(131, 131, 131));
    
	transition-duration: 0.3s;
}

.HomeButton:hover
{
	cursor:pointer;
    width: 40vh;
    height: 15vh;	
	/*transform:translateY(-10px);*/
    color:#6A96A6;
	background-color:rgba(255, 255, 255, .7);  
}


/* Content */

.ContentBackground
{
    position: relative;
    text-align: center;
    margin-top: 23vw;

    float:left;
    top: 0vw;
    width:100%;
    height:37vw;

    z-index: -70;

    background-color: rgba(255, 255, 255, 0.856);
}


.ContentTitle
{
    position:relative;
    float:left;
    margin-top: .5vw;
    margin-left: 1vw;

    font-size: 3.5vw;
    color: #6A96A6;

	filter:drop-shadow(0 4px 1px rgb(131, 131, 131));

    /*background-color:black;*/
}

.ContentText
{
    position:relative;
    text-align: left;
    float:none;

    width: 60vw;
    height: 40vh;
    margin-top: 8vw;
    margin-left: 2vw;

    font-size: 1vw;
    color: black;

    /*background-color:black;*/
}

.ContextVideo
{
    position: relative;
    float: right;

    margin-top: -42.5vh;
    margin-right: 2vw;
    width: 33.333333333333336vw;
    height: 21.875vw;

    border: none;
    filter: drop-shadow(0 6px 5px rgb(131, 131, 131));
}

.ContextImage 
{
    position: relative;
    float: none;
    margin-top: -23.5vw;
    margin-right: -62vw;
    max-width: 33.333333333333336vw;
    max-height: 25vw;
    border: none;
    filter: drop-shadow(0 6px 5px rgb(131, 131, 131));
}
/* Tags */

.TagGroup
{
    position: relative;
    float:left;

    margin-top: 1vw;
    margin-left: .5vw;
    width: 56vw;
    height:auto;
    
    text-align: left;
    /*background-color: black;*/ 
}

.Tag
{
    display: inline-block;
    border-radius: 25px;
    height: 1.5vw;

    padding-left: 15px;
    padding-right: 15px;
    margin-top: 1.5vw;
    margin-left: .5vw;

    text-align: center;
    font-size: 1vw;
    font-weight: 100;
    color: white;
    background-color: rgb(83, 83, 83);
    filter:drop-shadow(0 3px 1px rgb(131, 131, 131));

    transition-duration: .1s;
}

.Tag:hover
{
    transform:scale(1.1);
    background-color: rgb(100, 100, 100);
}


@media screen and (max-width:800px) 
{
    .HeaderLogo 
    {
        /*margin-top: -.8vw;*/
        font-size: 5.5vw;
    }

    .HeaderLink 
    {
        height: 7vw;
    }

    .HomeButton 
    {
        display: block;
        margin-top: 10vh;
        text-decoration: none;
    }

    .ScrollButton
    {
        width: 15vw;
        height: 15vw;
    }

    .HomePage
    {
        margin-left: 25%;
    }

    .ContentBackground 
    {
        height: 100vw;
        width: 100%;
    }

    .ContentTitle 
    {
        float:none;
        font-size: 9vw;
        filter: drop-shadow(0 3px 1px rgb(131, 131, 131));
        /* background-color: black; */
    }

    .ContentText 
    {
        width: 90%;
        height: 50vw;
        margin-top: 3vw;
        margin-left: 5%;
        font-size: 3vw;

        overflow:scroll;
    }

    .TagGroup
    {
        float:none;
        /* background-color: black; */
        margin-left: 5%;
        width: 95%;

    }

    .Tag 
    {
        font-size: 3vw;
        height: 4.5vw;
    }
}

@media screen and (max-width:600px) 
{
    .ContentBackground 
    {
        height: 100vw;
    }
}

/*Contact form*/
#feedback-page {
    text-align: center;
}

#form-main {
    width: 100%;
    float: left;
    padding-top: 0px;
}

#form-div {
    background-color: rgba(72,72,72,0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 30px;
    margin-left: -260px;
    border-radius: 7px;
}

.montform .feedback-input {
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}
    /*Inputs styles*/
    .montform .feedback-input:focus {
        background: #fff;
        border: 3px solid #3498db;
        color: #3498db;
        outline: none;
        padding: 13px 13px 13px 54px;
    }


/* Icons ---------------------------------- */
.montform #name {
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

    .montform #name:focus {
        background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
        background-size: 30px 30px;
        background-position: 8px 5px;
        background-position: 11px 8px;
        background-repeat: no-repeat;
    }

.montform #email {
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

    .montform #email:focus {
        background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
        background-size: 30px 30px;
        background-position: 11px 8px;
        background-repeat: no-repeat;
    }

.montform #comment {
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-pencil.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

.montform textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

    .montform input:hover, .montform textarea:hover,
    .montform input:focus, .montform textarea:focus {
        background-color: #e6e6e6;
    }

.button-blue {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

    .button-blue:hover {
        background-color: rgba(0,0,0,0);
        color: #0493bd;
    }

.montform .submit:hover {
    color: #3498db;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    transition: .3s ease;
}

.submit:hover .ease {
    width: 100%;
    background-color: white;
}

/*Styles for small screens*/

@media only screen and (max-width: 580px) {
    #form-div {
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}
